body, input, textarea, button {
  font: 16px/1.5 Source Sans Pro, sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 0.5em 0;
}

label > input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid;
  padding: 10px 0;
  font-size: 1.2em;
}

input:focus,
button:focus {
  outline: none;
}

.button, button {
  border: 0.2em solid;
  border-radius: 0.2em;
  background: transparent;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
}

.button:hover, button:hover {
  color: dodgerblue;
}

.index {
  padding: 100px 0;
  text-align: center;
  h1 {
    background: url(../images/logo.png) no-repeat center center;
    text-indent: -10000px;
    height: 121px;
    margin-bottom: 100px;
  }
  .try {
    background: #eee;
    padding: 50px 0 80px 0;
    margin-bottom: 50px;
  }
  button, .button {
    font-size: 1.2em;
  }
}

.create {
  background: white;
  max-width: 400px;
  margin: 100px auto;
}
