.openbar-button {
  position: fixed;
  bottom: 20px;
  right: 20px;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

  button {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-indent: -10000px;
    padding: 0;
    width: 32px;
    height: 32px;
    background: white url(../images/space.png) no-repeat center center;
    background-size: 20px;
    border: 2px solid black;
  }

  button:hover {
    background-color: dodgerblue;
  }
}

.openbar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background: white;
  font-size: 16px;
  line-height: 1.5;

  * {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
  }

  @-webkit-keyframes loading {
    to { background-position: -7680px; }
  }

  .loading {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateY(-50%);

    width: 256px;
    height: 256px;

    background-image: url(../images/loading.png);
    -webkit-animation: loading 1s steps(30) infinite;
  }

  .bar-header {
    background: #333;
    padding: 0 20px;
    position: relative;

    height: 80px;
    line-height: 80px;

    .bar-title {
      color: white;
      font-size: 2em;
      font-weight: bold;
      line-height: inherit;
      margin: 0;
    }

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      color: white;
      font-size: 2em;
    }
  }

  .chat {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;

    border-right: 1px solid silver;

    .messages {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 80px;
      left: 0;

      border-bottom: 1px solid silver;
      overflow-y: auto;

      ul {
        list-style: none;
        padding: 100% 0 0 0;
        margin: 0;

        li {
          padding: 10px 20px;
          border-top: 1px solid silver;
          position: relative;
          overflow: hidden;

          .name {
            background-color: #eee;
            display: inline-block;
            padding: 0 5px;
            margin-right: 10px;
          }

          .timestamp {
            right: 20px;
            position: absolute;
            font-size: 80%;
            text-transform: uppercase;
            color: silver;
          }

          .text {
            margin-top: 5px;
          }

          .oembed {
            border: 1px solid silver;
            padding: 5px;
          }

          img, .oembed {
            max-width: 400px;
          }
        }
      }
    }

    .chatbox {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      padding: 10px 20px;

      textarea {
        border: 1px solid silver;
        width: 100%;
        resize: none;
        padding: 10px;

        &:focus {
          outline: none;
        }
      }

      .record {
        position: absolute;
        top: 25px;
        right: 40px;
      }
    }
  }

  .record-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 100px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;

    video {
      background: black;
      &.with-instructions {
        background: url(../images/record-instructions.png) no-repeat center center;
        width: 600px;
        height: 400px;
      }
      border: 1px solid silver;
    }

    .actions {
      margin-top: 20px;
      button {
        margin: 0 40px;
        span:first-child {
          width: 1em;
          height: 1em;
          vertical-align: text-top;
          margin-right: 5px;
          display: inline-block;
        }
        .record-icon {
          border-radius: 50%;
          background-color: #f99;
        }
        .stop-icon {
          background-color: #333;
        }
      }
    }
  }

  &.widget {
    right: 10px;
    width: 300px;
    height: 400px;
    border-left: 1px solid silver;
    font-size: 12px;
    .bar-header {
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      .bar-title {
        font-size: 1.2em;
      }
      .close {
        right: 5px;
        top: 4px;
      }
    }
    .chat {
      top: 30px;
      .messages {
        bottom: 40px;
        ul {
          li {
            padding: 5px;
            .timestamp {
              right: 5px;
            }
            img, .oembed {
              max-width: 100%;
            }
          }
        }
      }
      .chatbox {
        padding: 0 5px;
        textarea {
          font-size: 12px;
          padding: 5px;
        }
        .record {
          font-size: 90%;
          top: 10px;
          right: 15px;
        }
      }
    }
  }
}

